<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTL</title>
</head>
<body>
    <h1>Hello, {{username}}</h1>
    <h3>You have {{no_of_messages}} unread messages</h3>
    {% if is_logged_in %}
        <ol> {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ol>
    {% else %}
        <p>You need to log in to view your messages</p>
    {% endif %}
</body>
</html>